.input-container {
    position: relative;
    text-align: left;
    margin-bottom: 1rem;
}
.input-label {
    display: block;
    margin-bottom: 0.5rem;
}
.input-field {
    display: block;
    width: 100%;
    padding: 0.5rem;
    color: black;
    background-color: #ccc;
    border: 1px solid #7a0404;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.textarea-field {
    display: block;
    width: 100%;
    padding: 0.5rem;
    color: black;
    background-color: #ccc;
    border: 1px solid #7a0404;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.checkbox-field {
    display: block;
    margin-bottom: 0.5rem;
    color: black;
    background-color: #ccc;
    border: 1px solid #7a0404;
}
.input-error {
    color: red;
}
.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    color: black;
    background-color: #ccc;
    border: 1px solid #7a0404;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}
.search-item {
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}
