.navbar {
  padding: 1rem;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar-logo {
  height: 100px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 1rem;
}
