.pdf-style {
  font-size: 10px !important;
  line-height: 0.5 !important; /* decreased from 1.2 */
  padding: 96px !important;
  color: black !important;
}

/* Optionally override heading styles */
.pdf-style h2 {
  font-size: 16px !important;
}

/* Adjust table styling for PDF */
.pdf-style table {
  margin-bottom: 0.5rem !important;
}

/* Limit the logo's size in the PDF */
.pdf-style img {
  max-width: 100px !important; /* Adjust the value as needed */
}
