table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.universal-table th,
.universal-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responsive-table {
    overflow-x: auto;
}

@media (max-width: 600px) {
  th {
    display: none;
  }
  td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
  }
}